@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        @*<h1><a href="index.html">Admin Panel</a></h1>*@
                        <h1>@Html.ActionLink("Admin Panel", "Index", "Admin", new { area = "" },null)</h1>
                    </div>
                </div>
               
                <div class="col-md-2 col-md-offset-5">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                  @Html.ActionLink("Store Front", "Index", "Home", new { area ="" },null)
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
