@using PlusSize.Models.ViewModels.Home
@model IEnumerable<ProductInHomeVm>
@{
    ViewBag.Title = "Home";
}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://scstylecaster.files.wordpress.com/2013/09/plus-size-fashion.png" alt="First slide">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Plus size & Curve clothing</h2>
        <p>
            Earn some serious style points with boohoo Plus – cut with confidence for UK sizes 16-28.
            From wardrobe staples to fashion- forward pieces, Plus promises to keep you on trend
            season after season. Dare to be different with the exclusive collection from Nadia Aboulhosn
            that’s guaranteed to keep your style game strong whatever the occasion.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            Plus size has seen some remarkable accomplishments over the past 30 years.

            With a goal to become an $8 billion company by 2017 and open 600 stores in the next three years, it’ll be exciting to see the company achieve in three years what it initially took 30 years to do.
        </p>
    </div>
    <div class="col-md-4">
        <h2>careers at Plus Size</h2>
        <p>
            Plus Size is always looking for talented, hard working people to join our team.

            If you have what it takes, check our Current Openings below or stop by any of our stores and fill out an application today.
            Be sure to check back frequently as opportunities change daily.
        </p>

    </div>
</div>
<br />
<br />
@foreach (var product in Model)
{
    <div class="item  col-xs-4 col-lg-4">
        <!-- Product -->
        <div class="product clearfix ">
            <div class="left">
                <div class="image">
                    <img src="@product.ImageUrl" height="316" width="212">
                </div>
            </div>
            <br />
            <div class="right">
                <h4 class="group inner list-group-item-heading">
                    @Html.ActionLink(product.Title, "Details", "Products", new { id = product.Id }, null)
                </h4>
            </div>
        </div>
    </div>
}
